body {
    background-color: black;
}
    h1 {
    color: whitesmoke;
    border-style: solid grey;
}
h1 {
    color: whitesmoke;
    border-style: solid grey;
}
h2 {
    color: whitesmoke;
    border-style: solid grey;
}
