body {
    background-image: url('/home/puntobat/Desktop/raton/labs/lab3/batsad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    /* background-color: #000000; */
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: verdana;
}
h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: Verdana;
}
textarea { 
    width: 100%;
    height: 100px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: Verdana;
}
p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: Verdana;
    font-variant-position: var(center);
}
label {
    color: rgb(173, 67, 29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: Verdana
}
input {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;
    font-family: Verdana;
    font-style: Verdana;
}
.item {
    background-color: rgb(173, 67, 29);
    padding: 20px;
    margin: 5px;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solier-box;;
}
.SEOS {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 25vh;
}
.BAT {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.FICO {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 25vh;
}
.KEKCO {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: right;
    height: 25vh;
}
.DACKABOY {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 25vh;
}
.SKATE {
    display: flex;
    justify-content: center;
    align-items: right;
    height: 25vh;
}
